body {
	background: rgb(144, 201, 212);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.intro {
	margin: 30px 0px;   /**/
	font-weight: bold;
}

h1 {
	color: #ffffff;
	text-transform: uppercase;  
	font-weight: 800;
}

p {
	font-weight: 600;
}

#first {
	margin-top: 10px;
	color: rgb(223, 121, 53);
}

#second {
	color: rgb(190, 74, 39);

}

#third {
	color: #025F70;
	margin-bottom: 30px;
}


#enter {
	border: 1;
	padding: 10px 20px;
	border-radius: 5px;
	color: #04A1BF;
	background-color: #025F70;
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;  /*the show buttonon the left*/
	-o-transition: all 0.75 ease;
	font-weight: normal;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

#enter:hover{
	background-color: #02798F;
	color: rgb(172, 35, 126);
}

ul {
	text-align: left;  /*saved list-task in box-in the bottom*/
	margin-top: 20px;
}


li {
	list-style: none;
	padding: 10px 20px;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #025f70;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #4EB9CD;
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

li:hover {
	background: #76CFE0;
}

li > button {
	font-weight: normal;
	background: none;      /*li=list*/
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
}

input {
	border-radius: 5px;
	min-width: 65%;
	padding: 5px; /*input box*/
	border: none;
}


.done {
	background: #51DF70 !important;
	color: #00891E;
}

.delete {
	display: none;
}